<header id="header" class="wrapper">
  <div class="header_links">
    <h1 class="site-title">
      <%=link_to  root_path do%>お<span>せん</span>べいた<span>べよ</span>。<% end %>
    </h1>
    <nav id="navi">
      <ul class="nav-menu">
        <li><%=link_to url:"#" do%><span>暖簾</span>をくぐる<% end %></li>
      </ul>
    </nav>
  </div>
  <%= image_tag 'navy_green_pink.png', alt: 'line' %>
  <div id="mask"></div>
</header>