
/*-------------------------------------------
ITEM
-------------------------------------------*/
.create-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px double darkgreen;
  width: 350px;
  height: 30px;
  font-size: 20px;
  margin: 0 auto;
  font-family: serif;
}
.create-item img {
  object-fit: cover;
}
.create-item a {
  margin: 0 10px;
}
.item-lists {
  display: flex;
}
.list {
  width: 30%;
  background-image: url(item_bcg.png);
  background-size: cover;
  height: 120px;
  display: flex;
}
.item-img-content {
  width: 150px;
}
.item-img {
  object-fit: cover;
}
.item-info {
  font-size: 15px;
  padding: 10px;
}
.taste-reviews ul{
  display: flex;
  flex-wrap: wrap;
}